<!DOCTYPE html>
<html>
	<head>

	<% include ./head.ejs %>

	</head>

	<body id="body_color"> 
	<!--header--> 
	<% include ./header.ejs %>
	<!--header End-->

	<!--Main menu-->
	<div class="ui center aligned container" id="board_body">

			<% include ./header_menu.ejs %>

	<!--Main menu-->

	<!--first content left menu-->

	<div class="ui grid">

		<div class="ui four wide column" >
	<table class="ui very basic collapsing celled table" id="table_one">
    <tbody>

        <% var icons = ['users','car','road','settings','television','home','tree','bomb','food','diamond','image','plus']; %>
        <% var icon_words = ['Character','Vehicle','Exterior','Mechanic','Eletronic','Interior','Environment','Military','Food','Fashion','HDRI','more..'];%>
        <% var icon_num = 0; %>
        <% for(var i=0; i<4; i++){%>
        <tr>
         <% for(var j=0; j<3; j++){ %>
        <td>
        <h4 class="ui image header" >
          <a href="#">
           <i class="<%=icons[icon_num]%> big inverted blue icon" id="icon<%=icon_num%>" ></i><br/>
              <div class="content" id="icon_text<%=icon_num%>">
                  <b><%=icon_words[icon_num]%></b>
              </div></a></h4></td>
         <% icon_num++ %>
       <%}%>
    </tr>
    <%}%>

  </tbody>
</table>
</div>

 <!--first content left menu End -->

 <!--first content right menu start -->

	  <div class="twelve wide column">
      <table class="ui very basic collapsing table" id="table_two">
        <tbody>
          <% for(var k=0; k<3; k++){%>
           <tr> <td> <div class="ui six doubling cards">
                <% for(var l=0; l<6; l++){%>
                    <div class="card">
                      <div class="image" id="termi2">
                        <img src="../images/test02.jpg">
                     </div>
                    <div class="extra" id="ex6">
                  </div>
              </div>
              <%}%>
            </div>
            </td>
          </tr>
          <%}%>
          </tbody>
      </table>
    </div>
</div>

<!--first content right menu End -->

	<div class="ui divider"></div>

	<!--second content start-->

			<% var i = 0; %>
			<% if(content.length > 0){ %>

				<% content.forEach(function(item){ %>
				<% i++; %>
					<div class="ui items">
						<div class="item">
						
							<div class="description"><%=i%>.&nbsp;&nbsp;</div>
						    <div class="description" id="second_title">
						 			<a href="/view?id=<%=item._id%>"><%=item.title%></a>
						    </div>
						   		
						   </div>
						   <div class="item">
						   		<div class="description" id="second_writer"><%=item.writer%>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
						   		<div class="description" id="second_writer"><%=item.date%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</div>
								<div class="description" id="second_writer">Count:<%=item.count%>&nbsp;&nbsp;&nbsp;&nbsp;</div>
						   </div>
						 </div>
				<% }) %>

			<% }else{ %>
					게시물이 없습니다.</td>
			<% } %>
		<div class="ui left aligned label" id="second_title">
			<a href='#' onclick="displayForm();" id="font_new"><b>글 작성</b></a>
		</div>

		<!--Write form-->
		
		<% include ./write_form.ejs %>

		<!--Write form End!-->

	
	</div>

	<% include ./footer.ejs %>



	</body>
	
</html>